.wrapper-projekte .post img {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

a { color: inherit; } 

.no-cursor:hover{
	cursor: default;
}

img {
	vertical-align: bottom;
	border: 0;
}

.sample{
	margin-left: 30%;
}

.jacket-word{
	position: absolute;
	top: -30px;
}

.jacket{
	transition: transform .2s;
}

.jacket:hover{
	transform: scale(1.05);
}

.crossfade{
	transition: transform .5s;
}

.crossfade:hover{
	transform: rotate(5deg);
	cursor: pointer;
}

.cover{
    max-height: 85%;
	max-width: 85%;
	width: auto;
	height: 85%;
}

.transparent{
    opacity: 0;
}

.cover-photo-1
{
	max-height: 400px;
	filter: blur(1px);
	position: relative;
	transform: rotate(-10deg);
	transition: filter .5s;
}

.credit{
	text-decoration: none !important;
}

.shop-content{
	background-color: white;
	text-decoration: none !important;
	color: #4477b2;
	font-family: cursive;
	text-align: center;
	font-weight: 550;
	font-size: large;
	-webkit-transition: background-color 0.3s;
    -moz-transition:    background-color 0.3s;
    -ms-transition:     background-color 0.3s;
    -o-transition:      background-color 0.3s;
    transition:         background-color 0.3s;
}

.shop-content:hover{
	background-color:#ff9b9b;
	border-color: #ff9b9b;
	color: white;
	cursor: pointer;
}
.cover-photo-1:hover{
	filter: blur(0.5px);
}

.cover-photo-1-play
{
	position: absolute;
	transform: rotate(-10deg);
	margin-top: 35%;
	margin-left: 35%;
}

.cover-photo-2
{
	position: relative;
	transform: rotate(-25deg);
	margin-top: 10rem;
}

.cover-photo-3
{
	position: absolute;
	transform: rotate(30deg);
	margin-left: 15rem;
}

.cover-photo-4
{
	position: absolute;
	transform: rotate(-5deg);
	margin-left: 25rem;
	margin-top: 15rem;
}

.cover-photo-5
{
	transform: rotate(5deg);
}

.fade-in-slow {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

.fade-in-fast {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

.fade-in-medium {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.8s;
}

.fade-out {
	opacity: 0;
	animation-name: fadeOutOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOutOpacity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
