#preload {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: white;
  }

  body {
    background: white;
    margin: 0;
    padding: 0;
  }
  @keyframes dots {
    50% {
      transform: translateY(-.4rem);
    }

    100% {
      transform: translateY(0);
    }
  }

  .d {
    animation: dots 3s ease-out infinite;
    max-width: 100px;
    max-height: 100px;
    margin-left: 40px;
  }

  .d-2 {
    animation-delay: 1s;
  }

  .d-3 {
    animation-delay:2s;
  }